table.aui > tbody > tr > td {
  border-bottom: 1px solid #ccc;
}

table.aui > tbody > tr:first-child > td {
  border-top: none;
}

table.aui > tbody > tr:last-child > td {
  border-bottom: none;
> }

div.aui-buttons > .aui-button-disabled {
  color: #999;
}

.dataTables_wrapper .dataTables_paginate .aui-button-selected {
  background-image: linear-gradient(rgb(90, 148, 211) 0px, #3673B5 100%);
  color: #FFF;
  font-weight: bold;
  text-shadow: #205081;
}

.paginate_enabled_previous { background: url('../com.jklein.stash.stash-hashtags:stash-hashtags-resources/images/back_enabled.png') no-repeat top left; }
.paginate_enabled_previous:hover { background: url('../com.jklein.stash.stash-hashtags:stash-hashtags-resources/images/back_enabled_hover.png') no-repeat top left; }
.paginate_disabled_previous { background: url('../com.jklein.stash.stash-hashtags:stash-hashtags-resources/images/back_disabled.png') no-repeat top left; }
.paginate_enabled_next { background: url('../com.jklein.stash.stash-hashtags:stash-hashtags-resources/images/forward_enabled.png') no-repeat top right; }
.paginate_enabled_next:hover { background: url('../com.jklein.stash.stash-hashtags:stash-hashtags-resources/images/forward_enabled_hover.png') no-repeat top right; }
.paginate_disabled_next { background: url('../com.jklein.stash.stash-hashtags:stash-hashtags-resources/images/forward_disabled.png') no-repeat top right; }
.sorting { background: url('../com.jklein.stash.stash-hashtags:stash-hashtags-resources/images/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('../com.jklein.stash.stash-hashtags:stash-hashtags-resources/images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('../com.jklein.stash.stash-hashtags:stash-hashtags-resources/images/sort_desc.png') no-repeat center right; }
.sorting_asc_disabled { background: url('../com.jklein.stash.stash-hashtags:stash-hashtags-resources/images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('../com.jklein.stash.stash-hashtags:stash-hashtags-resources/images/sort_desc_disabled.png') no-repeat center right; }
